<h1>Create a Home View</h1>

<form method="POST" action="/home/create">
  <label for="input-address">Address</label>
  <input type="text" name="address" id="address" value=""/>

  <label for="input-zipcode">Postal Code</label>
  <input type="text" name="zipcode" id="zipcode" placeholder="Your postal code" maxlength="12"/>

  <label for="input-tellphone">Telephone number:</label>
  <input type="number" name="phone" id="phone"/>

  <button>Create Home</button>
</form>