<h1>Create a New Comment</h1>
<div class = "d-flex flex-column justify-content-center align-items-center">
  <form style = "width: 50%" method="POST" action="">
    <label for="input-comment">Make a comment:</label>
    <textarea class="rounded-lg" name="content" id="content" placeholder="Write Comment Here..." maxlength="500"></textarea>
   <button class="btn btn-dark rounded-lg">Create Comment</button>
  </form>
</div>