<h1>Welcome to {{title}}</h1>

<br>
<h5>Your go-to task manager for your house </h5><br>
</p>With Housekeepo you and your housemates can share a view of your house, tasks, create comments and much more.<br>
Sign up now and make your home tidy as never before!
<p>
</h5>

{{#if user}}

{{else}}
  </p>
  <a class="d-flex flex-column justify-content-center align-items-center" href="/authentication/sign-up">
  <button class="btn btn-dark rounded-lg "><ion-icon name="log-in-outline"></ion-icon> Sign Up Now!</button></a>
{{/if}}

