<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead mb-0">Your go-to house task manager</p>
        <br>
        <h6>
      Manage your house, share tasks, create comments and much more.
      </h6>
      </div>
    </div>
  </div>
</header>

{{#if user}}

{{else}}
  </p>
  <a class="d-flex flex-column justify-content-center align-items-center" href="/authentication/sign-up">
  <button class="btn btn-dark rounded-lg "><ion-icon name="log-in-outline"></ion-icon> Sign Up Now!</button></a>
{{/if}}

