<h1>{{title}}</h1>
<h3>Welcome to {{title}}</h3>

<h5>Housekeepo is the app you are looking for to organize your home.<br>
With Housekeepo you and your housemates can share a view of your house, tasks, create comments and much more.<br>
Sign up now and make your home tidy as never before!
</h5>

{{!-- <p><a href="/tasks">Go to tasks page</a>
<a href="/home/create">Home creation</a></p> --}}

<img src="https://source.unsplash.com/JIUjvqe2ZHg/1600x900" alt="{{ title }}" >

{{#if user}}

{{else}}
  </p>
  <a href="/authentication/sign-up">
  <button>Register Now!</button></a>
{{/if}}

