<h1>Add a New Household</h1>

<form method="POST" enctype="multipart/form-data">
  <label for"input-name">Household That You'd Like to Add</label>
  <input type="text" name="household" id="input-name" placeholder="Name your household" maxlength="30"/>

   <label for="input-photos">Pictures</label>
   <input type="file" name="photos" id="input-photos" accept="image/*" multiple />
  
<button>Add Household</button>
</form>