i<p>Its peanut butter jelly time</p>

<a href="/home/create">Home creation</a>

{{#each homes}}
<a href="/home/{{_id}}"><h3>{{name}}</h3></a>
<a href="/home/{{_id}}/edit">Delete or edit information about your home</a>

{{/each}}