<p>Single task view page!</p>

{{#each comment}}
  {{author}}
  {{content}}
{{/each}}

<a href="/tasks/{{task._id}}/edit">Edit or delete the task</a>
<a href="/tasks/{{task._id}}/comment">Make a comment</a>