<h1>Create a New Comment</h1>

<form method="POST" action="">
  <label for="input-comment">Make a comment:</label>
  <textarea name="comment" id="comment" placeholder="Write Comment Here..." maxlength="500"></textarea>

  <button>Create Comment</button>
</form>